body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: linear-gradient(45deg, rgb(89, 0, 255), rgb(0, 157, 255));
}

/* Estilos para o menu */
.menu {
    background-color: #000; /* Cor preta */
    color: #fff; /* Texto branco */
    display: flex;
    align-items: center;
    padding: 10px 20px;
    justify-content: space-between;
}

.menu img {
    width: 200px; /* Largura da imagem do símbolo */
    height: auto;
}

.menu-logo {
    color: #fff; /* Cor do texto branco */
    font-size: 40px; /* Tamanho grande do texto */
    font-weight: bold; /* Negrito */
    text-align: center;
    flex: 1; /* Faz o logo ocupar o espaço restante no meio */
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu ul li {
    margin-left: 40px;
}

.menu ul li a {
    color: #fff; /* Cor do texto branco */
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.menu ul li a:hover {
    text-decoration: underline;
}

.image-container {
    display: flex;
    align-items: flex-start; /* Alinha a imagem e o texto ao topo */
    margin: 20px; /* Espaçamento ao redor do contêiner */
}

.image {
    height: 750px;
    width: 600px;
    margin-right: 20px; /* Espaço entre a imagem e o texto */
}

.text {
    max-width: 600px; /* Limita a largura máxima do texto para melhor legibilidade */
}

p {
    color: white; 
    font-size: 25px;
    margin-bottom: 20px; /* Espaço abaixo dos parágrafos */
}

/* Estilos para a mensagem animada */
.animated-message {
    text-align: center;
    color: white;
    font-size: 80px;
    font-weight: bold;
    margin-top: 50px;
    animation: moveText 3s infinite alternate;
}

@keyframes moveText {
    10% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(30px);
    }
}
.botao
{
    transition: 0.5s;
}
.botao:hover
{
    margin-right: 10px;
}