body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(45deg, rgb(177, 114, 199), rgb(178, 209, 229));
}

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
}

.proposta {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    background-image: linear-gradient(45deg, rgb(217, 43, 145), rgb(210, 158, 194));
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.proposta img {
    max-width: 250px;
    height: auto;
    margin-right: 20px;
}

.proposta .texto {
    flex: 1;
}

.proposta h2 {
    margin-top: 0;
}

.proposta p {
    margin: 0;
    line-height: 1.6;
}
